<div class="side-panel" [class.open]="isOpen">
   <div class="container content">
      <h1 class="country-name"> A vármegye neve: {{ selectedRegion }}</h1>
      
      <h3>Magyarország zászlója és a megye címere:</h3>
      <img src="Hungary-Flag.svg "[width]="250" alt="Magyarország zászlaja" class="country-flag">
      <img [src]="'Country-Crest/' + selectedRegion + '.jpg'" alt="Vármegye címere" class="country-crest">

      <h3>Legnagyobb városok a megyében:</h3>
      <ul *ngIf="bigCities.length > 0; else noCities">
         <li *ngFor="let city of bigCities" (click)="selectCity(city)" class="city-item">
            {{ city }}
         </li>
      </ul>

      <ng-template #noCities>
         <p>Nincsenek elérhető városok.</p>
      </ng-template>
   </div>   

   <button class="close-btn" (click)="closePanel()">
      <i class="bi bi-x-lg"></i>
   </button>
</div>

<div class="comment-box" *ngIf="selectedCity">
   <h3>Hozzászólások - {{ selectedCity }}</h3>
   <ul>
      <li *ngFor="let comment of cityComments[selectedCity]">{{ comment }}</li>
   </ul>
   <input #commentInput type="text" placeholder="Írj egy hozzászólást..." />
   <button (click)="addComment(commentInput)">Küldés</button>
   <button class="close-btn" (click)="closeCommentBox()">X</button>
</div>
